@import url('https://fonts.googleapis.com/css?family=Barrio');


nav{
  position: absolute;
width: 1440px;
height: 106px;
left: 0px;
top: 0px;

}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.gradient-text {
    transition: all 1s ease;
    color: #FF1361;
    background-color: #FF1361;
    background: -o-linear-gradient(left, #FFF800 10% , #FF1361, #44107A, #7794ff);
    background: -webkit-linear-gradient(left, #FFF800 10% , #FF1361, #44107A, #7794ff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-text.text1 {
  -webkit-animation: dancingColors 2s infinite forwards ease-in-out;
          animation: dancingColors 2s infinite forwards ease-in-out;
  margin-bottom: 5%;
}
.gradient-text.text2 {
  -webkit-animation: dancingColors 2s -0.5s infinite forwards ease-in-out;
          animation: dancingColors 2s -0.5s infinite forwards ease-in-out;
}

@media screen and (min-width:0\0) {
    /* IE9 and IE10 hack */
    .gradient-text {
        background: transparent;
    }
}

body {
  background: black;
  text-align: center;
}
.gradient-text.text1 {
  font-size: 40px;
  font-family: 'Barrio', cursive;
}
.gradient-text.text2 {
  font-size: 30px;
  font-family: 'Barrio', cursive;
}


@-webkit-keyframes dancingColors {
  50% {
   //  background: -webkit-linear-gradient(left, #FF1361, #44107A, #7794ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-position: -860px;
  }
}



@keyframes dancingColors {
  50% {
   //  background: -webkit-linear-gradient(left, #FF1361, #44107A, #7794ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-position: -860px;
  }
}